.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 충분히 높은 값 */
}

.modalContent {
  position: relative;
  background-color: white;
  padding: 24px 32px;
  border-radius: 12px;
  min-width: 300px;
  width:800px;
  max-width: 800px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  max-height: 80vh;
  display: flex;
  flex-direction: column;
}

.modalBody {
  overflow-y: auto;
  max-height: 70vh; /* 버튼 공간 제외한 영역 */
}

.closeButton {
  position: sticky;
  top: 0;
  right: 0;
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
  background-color: white;
  padding: 8px;
}

